@model ClassRoomWeb.Models.StudentModel

@{
    ViewData["Title"] = "checkIn";
}

<h1>เช็คชื่อนักศึกษา</h1>

<h4>กรุณากรอกข้อมูลเพื่อเช็คชื่อในรายวิชาดังกล่าว</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="checkIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="studentId" class="control-label"></label>
                <input asp-for="studentId" class="form-control" />
                <span asp-validation-for="studentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentName" class="control-label"></label>
                <input asp-for="studentName" class="form-control" />
                <span asp-validation-for="studentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
