@model ClassRoomWeb.Models.TeacherModel

@{
    ViewData["Title"] = "Create";
}

<h1>ลงทะเบียนอาจารย์</h1>

<h4>ลงทะเบียนสำหรับอาจารย์ผู้สอน</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="teacherId" class="control-label"></label>
                <input asp-for="teacherId" class="form-control" />
                <span asp-validation-for="teacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="teacherName" class="control-label"></label>
                <input asp-for="teacherName" class="form-control" />
                <span asp-validation-for="teacherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="teacherTel" class="control-label"></label>
                <input asp-for="teacherTel" class="form-control" />
                <span asp-validation-for="teacherTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subjectTaught" class="control-label"></label>
                <input asp-for="subjectTaught" class="form-control" />
                <span asp-validation-for="subjectTaught" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ลงทะเบียน" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">กลับไปยังหน้ารายชื่อ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
